<html class="w-full h-full">
    {{ template "head" . }}
    <link rel="stylesheet" href="{{ .BaseURL }}assets/dist/main.css" />
    <body class="bg-gray-100 w-full h-full p-3 flex justify-center items-center">
        <div class="w-full max-w-xs">
            <form method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    {{ $values := .Values }}
                    {{ range .Form.Fields }}
                        {{ $fieldData := ( map "Values" $values "Field" . ) }}
                        {{ include ( printf "%s_%s" "form_input" .Type ) $fieldData }}
                    {{ end }}
                </div>
            </form>
        </div>
    </body>
</html>