<html class="w-full h-full">
    <head>
        <title>Redirection...</title>
        <meta http-equiv="refresh" content="{{ .Delay }}; url={{ .RedirectURL }}">
        <link rel="stylesheet" href="{{ .BaseURL }}assets/dist/main.css" />
    </head>
    <body class="bg-gray-100 w-full h-full p-3 flex justify-center items-center">
        <div class="w-full max-w-sm">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {{ template "messages" . }}
                <p class="text-center">
                    <a class="text-blue-600 hover:text-blue-700 text-xs mt-3 italic"
                        href="{{ .RedirectURL }}">
                        {{ .RedirectMessage }}
                    </a>
                </p>
            </div>
        </div>
    </body>
</html>